.container-game {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 5px;
  min-width: 100%;
  padding: 16px 32px;
  color: whitesmoke;
}

.container-game-active {
  background-color: #3A3A3A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 5px;
  min-width: 100%;
  padding: 16px 32px;
  color: whitesmoke;
  font-style: bold;
}